.colour-orange{
    color: rgb(255, 184, 5);
}
.button-style{
    color: Black;
    padding: 10px 25px;
    background-color: rgb(240,204, 114);
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    background-image: linear-gradient(orange,rgb(226, 241, 86));
    
}
.display{
    display: flex;
    padding: 20px;
}
.margin{
    margin: 30px;
    padding: 40px;
}
h1{
    font-size: 40px;
}
.bg-image{
    background-image: url(images/Frame1.jpg);
}
.center-align{
    margin: 15%;
    padding: 5px;
}
.recipie{
    padding-left: 30px;
    border: 2px;
    border-radius: 10px;
    width: 30%;
    margin-right: 5%;
    margin-left: 7%;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.display2{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-around;
     align-items: center;
     align-content: flex-start;
}
#black-banner{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    background-size: auto;

}
#center-align2{
    text-align: center;
}